<div class="container">
  <div class="row row-container">
    
    <div class="col-xs-12 col-sm-4">
      <div class="media">
        <div class="media-body">
          <h2 class="media-heading">Student Picture</h2>

        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-8"></div>
    
  </div>
</div>
