<p class="navclear"></p>

<div class="container signup-background">
  <p class="navclear"></p>
  <p class="navclear"></p>
  <p class="navclear"></p>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <form class="form-horizontal" action="/presentations/assignment" method="POST">
        <div class="form-group">
          <label for="presentation" class="col-sm-2 control-label">Assignment Presentation URL</label>
          <div class="col-sm-10">
            <input class="hidden" type="text" name="presentation_type" value="assignment">
            <input type="text" class="form-control" id="presentation" name="presentation_url" placeholder="Presentation URL">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-default">Add Video</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
