<div class="container">
  <p class="navclear"></p>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Student's Index Page</td>
            <td class="text-right"><a class="btn btn-primary" href="/students">Students</a></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="">
            <td>Introduction's Index Page</td>
            <td class="text-right"><a class="btn btn-primary" href="/introductions">Indroductions</a></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="">
            <td>Presentation's Index Page</td>
            <td class="text-right"><a class="btn btn-primary" href="/presentations">Presentations</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p class="navclear"></p>
  <p class="navclear"></p>
  <p class="navclear"></p>
  <p class="navclear"></p>
  <p class="navclear"></p>
</div>
